
/* Navbar css start  */

.my-nav-bar ul{
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    li{
        list-style: none;
    }
    .my-nav-elements{
        display: flex;
        gap: 20px;
        a{
            text-decoration: none;
            color: black;
            font-weight: 400;
        }
    }
    
}


/* Navbar css End  */



/* Home css Start  */

.my-home-wrapper .home-page-main-title{
    margin-top: 30px;
    font-size: 50px;
    
}
.my-home-wrapper .home-flex-box{
        display: flex;
        flex-direction: column;
        align-items: center;
}
.my-home-wrapper .my-home-style-btn{
    margin-top: 20px;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

/* Home css End  */



/* Blog css start  */

.my-blog-wrapper .blog-page-heading{
    margin-top: 30px;
    font-size: 35px;
    text-align: center;
}
.blog-container{
    border: 2px solid red;
    padding: 50px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    border-radius: 30px;
}


/* Blog css End  */


